
$fadeinTime: 0.8s;

.fadein-image {
	animation: fadeIn $fadeinTime;
	-webkit-animation: fadeIn $fadeinTime;
	-moz-animation: fadeIn $fadeinTime;
	-o-animation: fadeIn $fadeinTime;
	-ms-animation: fadeIn $fadeinTime;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
