.popup-content {
	margin: auto;
	background: $panelColour;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
	align-content: center;
	text-align: center;
	padding: 20px;
	border-radius: 8px;
	width: 80%;
	@media (min-width: $mobileWidth) {
		width: 50%;
	}
}
.popup-arrow {
	color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
	width: 200px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
	background: rgba(0, 0, 0, 0.6);
	z-index: 1200 !important; // override the navbar & inline style
}

[data-popup="tooltip"].popup-overlay {
	// background: transparent;
}

.dialogButtonContainer {
	display: flex;
    justify-content: space-around;
}

.button-dialog {
	min-width: 120px;
	outline-width: 0px !important;
}
