
.transactionsContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    padding: 16px;
}

.transactionCollapsable {
    margin: 0;
    transition: 0.2s;
    border-radius: 8px;

    // only hover on desktop
    @media (min-width: $mobileWidth) {
        &:hover {
            background-color: #f5f5f527;
        }
	}

    .Collapsible__trigger:after {
        top: 22px;
    }
}

.transactionsHeader {
    display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
    padding: 12px;
    margin: 0;

    // div {
    //     width: 48px;
    // }

	span {
        min-width: 48px;
		margin-right: 24px;
	}
}

.transactionDetails {
    padding: 12px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.06);
}

.transactionList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    padding: 0 32px;

    div  {
        padding: 8px;
    }

    .listLeft {
        text-align: left;
    }
    
    .listRight {
        text-align: right;
    }
}
