
.accountPage {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.tabButtonContainer {
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.tabButton {
	height: auto;
	background: #292d33;
	border: none;
	border-radius: 8px 8px 0 0;
	color: white;
	font-size: 16px;
	padding: 12px;
	text-decoration: none;
	border-bottom: 1px solid $borderColour;

	&-active {
		@extend .tabButton;
		color: $featureColour;
		font-weight: bold;
		border: 1px solid $borderColour;
		border-bottom: inherit;
		z-index: 200;
		background: $panelColour;
		// background: linear-gradient(#444e58, $panelColour);
	}
}

.button {
	cursor: pointer;
	background: #a3a3a323;
	// border-radius: 4px;
	height: fit-content;
	margin: 12px 0 12px 0;
	padding: 4px;
	border-radius: 40px;
	font-size: 16px;
	border: 1px solid #a3a3a3;
	color: white;
	transition: 0.3s;

	&-red {
		@extend .button;
		border: 1px solid #ee5757;
		background-color: #ee57571f;

		&:hover {
			background-color: #ee57578c;
		}
	}

	&-blue {
		@extend .button;
		border: 1px solid $featureColour;
		background-color: #0084ff2d;

		&:hover {
			background-color: #0084ff86;
		}
	}
}

button:focus {
	outline: none;
}

.Collapsible {
	margin: 8px;
}

.cryptoItemsContainer {
	background: $panelColour;
	border: 1px solid $borderColour;
	border-top: none;
	border-radius: 0 0 4px 4px;
	padding: 4px;
	margin-top: 0;
	height: 100%;
	margin-bottom: 24px;
}

.cryptoListItemHeader {
	background: rgb(170, 170, 170);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	border-radius: 4px;
	padding: 8px;
	height: 32px;

	&-holding {
		@extend .cryptoListItemHeader;
		background-color: $featureColour;
	}

	span {
		margin-right: 28px;
	}
}

.cryptoItemsButtons {

	padding: 12px;

	button {
		width: 100%;
	}
}

.cryptoIconLabel {
	font-weight: bold;
	display: flex;
	align-items: center;

	span {
		margin-left: 12px;
	}
}

.is-open {
	li {
		border-radius: 4px 4px 0 0;
	}
}

.editCryptoContainer {
	text-align: left;
	padding: 16px;
	border: 1px solid $textColour;
	border-radius: 0 0 4px 4px;
	border-top-width: 0px;
	height: fit-content;

	&-holding {
		@extend .editCryptoContainer;
		border: 1px solid $featureColour;
	}

	p {
		margin: 0;
		padding: 0 8px 0 8px;
		padding-bottom: 32px;
		display: none;

		@media (min-width: $mobileWidth) {
			display: visible;
		}
	}

	button {
		width: 100%;
	}
}

.cryptoItemDetails {
	padding-bottom: 32px;
}

.editCryptoInputItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;

	input {
		width: 64px;
		height: 24px;
		text-align: center;
		font-size: medium;
		margin: 4px 0 4px 0;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.validationError {
	color: #ee5757;
	margin-bottom: 8px;
	text-align: center;

	@media (min-width: $mobileWidth) {
		text-align: right;
	}
}

.newCurrencyContainer {
	display: grid;
	height: 256px;
	overflow-y: scroll;
	grid-template-columns: 1fr 1fr;
	margin: 12px;

	@media (min-width: $mobileWidth) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.selectableCrypto {
	display: flex;
	align-items: center;
	padding: 8px;
	margin: 12px;
	border: 1px solid rgb(146, 146, 146);
	border-radius: 4px;
	cursor: pointer;

	img {
		margin-right: 12px;
	}
}

// arrow icon & its open/close animation
.Collapsible__trigger {
	display: block;
	font-weight: 400;
	text-decoration: none;
	position: relative;
	color: white;

	&:after {
	  font-family: 'FontAwesome';
	  content: '\f107';
	  position: absolute;
	  right: 12px;
	  top: 17px;
	  display: block;
	  transition: transform 200ms;
	}
  
	&.is-open {
	  &:after {
		transform: rotateZ(180deg);
	  }
	}
  
	&.is-disabled {
	  opacity: 0.5;
	  background-color: grey;
	}
}