/**
 * Contains all HTML ELEMENTS only
 */

body {
	margin: 0;
	color: $textColour;
	background: $backgroundColour;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: small;
}

h1,
h2,
h3,
h4,
h5 {
	color: $textTitleColour;
}

h1 {
	font-size: 1.8em;
}

a {
	color: white;
	width: 100%;
	height: 100%;
}

hr {
	border-top: 0px;
	border-color: gray;
}

.icon {
	width: 24px;
	height: 24px;
	margin: 0 4px 0 16px;
}

.iconArrow {
	width: 12px;
	height: 12px;
	padding: 6px;
	margin-right: 8px;
}

a:hover {
	color: $textHover;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

select {
	// display: block;
	background: #263040;
	border: 1px solid #626970;
	color: white;
	border-radius: 4px;
	height: fit-content;
	margin: 12px 0 12px 0;
	padding: 4px;
}

select:focus-visible {
	// border: 8px solid red;
	outline: none;
	border: 1px solid #95a0ac;
}

button:focus-visible {
	outline: none;
}

input {
	// background: $pageColour;
	// border-bottom: 1px solid #626970;
	// border-left: 0;
	// border-right: 0;
	// border-top: 0;
	background: #263040;
	border: 1px solid #626970;
	color: white;
	border-radius: 4px;
	height: fit-content;
	margin: 12px 0 12px 0;
	padding: 4px;

	@media (min-width: $mobileWidth) {
		width: 100%;
	}
}

input:focus-visible {
	// border: 8px solid red;
	outline: none;
	border: 1px solid #95a0ac;
}

.inputBlock {
	display: block;
	grid-template-columns: auto auto;
	margin: 24px 0 24px 0;
	padding: 8px;
	border-radius: 4px;
	background: #2f333a;

	@media (min-width: $mobileWidth) {
		display: inline-grid;
	}
}

.inputDescription {
	padding: 8px;
}

.pageWrapper {
	@media (min-width: $mobileWidth) {
		display: flex;
		flex-direction: row;
		max-width: $mobileWidth;
		margin-left: auto;
		margin-right: auto;
	}
}

img {
	border-radius: 50%;
}

.pageContent {
	background: $pageColour;
	position: relative;
	flex: 1 1 auto;
	right: auto;
	left: auto;
	overflow: hidden;
	text-align: center;
	padding: 0 20px 0 20px;
	min-height: 100vh;
}

.pageContent-textLeft {
	text-align: left;
}

.commandItem {
	margin-bottom: 50px;
}

.optionText {
	background: #263040;
	border-radius: 8px;
	padding: 4px;
}
