/**
 * Miscellaneous styles for smaller pages/components, each should still be
 * encapsulated in their own component parent class name
 */

.changelogPage {
	h2 {
		margin-bottom: 8px;
	}

	li {
		line-height: 1.6;
	}

	.devLog {
		color: $textMinorColour;
	}
}

.label {
	background: $textColour;
	color: white;
	display: inline-block;
	border-radius: 4px;
	padding: 2px 8px 2px 8px;
	margin: 4px 6px 4px 4px;
	min-width: 32px;
	font-size: small;
	font-weight: bold;

	&-blue {
		@extend .label;
		background-color: $colourBlue;
	}

	&-green {
		@extend .label;
		background-color: $colourGreen;
	}

	&-orange {
		@extend .label;
		background: $colourOrange;
	}
}

.liDotted {
	li {
		list-style-type: circle;
		margin-left: 16px;
		line-height: 32px;
	}
}