
/**
 * Variables
 */

$mobileWidth: 918px;

$textColour: #95a0ac;
$textTitleColour: #adbac7;
$textHover: #e1ecf8;

$backgroundColour: black;
$pageColour: #22272e;

$navBarColour: #263040;

$featureColour: #003c9c;
