/**
 * Variables
 */

$mobileWidth: 918px;

$textColour: #95a0ac;
$textMinorColour: #747d86;

$textTitleColour: #0084ff;
$textHover: #0084ff;

$backgroundColour: #2f333a;
$panelColour: #2f333a;
$pageColour: #22272e;

$navBarColour: #263040;

$featureColour: #0084ff;

$colourBlue: #0084ff;
$colourGreen: #00b35f;
$colourOrange: rgb(255, 115, 0);

:root {
    --amplify-background-color: #2f333a;
    --amplify-primary-color: #0084ff;
    --amplify-secondary-color: #0084ff;
    --amplify-primary-tint: #00aeff; /* text hover colour */
    --amplify-primary-shade: #0084ff; /* text pressed colour */
}

amplify-authenticator {
    --container-align: top !important;
}