
/**
 * Variables
 */

$mobileWidth: 918px;

$textColour: #95a0ac;
$textTitleColour: #2c96dc;
$textHover: #2c96dc;

$backgroundColour: black;
$panelColour: #2f333a;
$pageColour: #22272e;

$navBarColour: #263040;

$featureColour: #2480bd;
